Flask==2.3.2 # for web framework
Flask-Cors==3.0.10 # for cross origin requests
Flask-Login==0.6.2 # for user login
Flask-SQLAlchemy==3.1.1 # for database
Flask-Swagger-Ui==4.11.1 # for swagger ui
Psycopg2-Binary==2.9.9 # for postgresql
Python-Dotenv==1.0.0 # for .env file
Werkzeug==2.3.8 # for password hashing