{
    "openapi": "3.0.0",
    "info": {
        "title": "Ecommerce System API",
        "description": "This is a simple Ecommerce System API built using Python Flask fundamentals.",
        "contact": {
            "name": "Eccomerce System - Github",
            "url": "https://github.com/wesleyfreit/ecommerce-system"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://ecommerce-system-api.codevf.tech",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:5000",
            "description": "Development Server"
        }
    ],
    "paths": {
        "/api/signin": {
            "post": {
                "summary": "Authenticate a registered user",
                "tags": [
                    "Users"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthUser"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Authenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "info": {
                                            "type": "string",
                                            "example": "User logged in, a session cookie has been set"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/signup": {
            "post": {
                "summary": "Register a new user",
                "tags": [
                    "Users"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthUser"
                            }
                        }
                    }
                },
                "responses": {
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Username already exists"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid user data"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "info": {
                                            "type": "string",
                                            "example": "User created"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/signout": {
            "post": {
                "summary": "Disconnect an authenticated user",
                "description": "Need user authenticated",
                "tags": [
                    "Users"
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthorized, user not logged in"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "info": {
                                            "type": "string",
                                            "example": "User logged out"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/account": {
            "get": {
                "summary": "Get user account",
                "description": "Need user authenticated",
                "tags": [
                    "Users"
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthorized, user not logged in"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUser"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/products": {
            "get": {
                "summary": "Get a list of products",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search for a specific product",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetProducts"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new product",
                "description": "Need admin authenticated",
                "tags": [
                    "Products"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostProduct"
                            }
                        }
                    }
                },
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Forbidden action"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "You need to log in your account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid product data"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Product created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/products/{id}": {
            "get": {
                "summary": "Get a product by ID",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Product not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Product not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetProduct"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a product by ID",
                "description": "Need admin authenticated",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutProduct"
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Product not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Product not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Forbidden action"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "You need to log in your account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Product updated"
                    }
                }
            },
            "delete": {
                "summary": "Delete a product by ID",
                "description": "Need admin authenticated",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Product not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Product not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Forbidden action"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "You need to log in your account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Product deleted"
                    }
                }
            }
        },
        "/api/cart": {
            "get": {
                "summary": "Get a list of items in the cart",
                "description": "Need user authenticated",
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "You need to log in your account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCartItems"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/cart/{id}": {
            "post": {
                "summary": "Add an item to the cart by ID",
                "description": "Need user authenticated",
                "tags": [
                    "Cart"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Item not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "You need to log in your account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Item added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "info": {
                                            "type": "string",
                                            "example": "Item added to cart"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete an item from the cart by ID",
                "description": "Need user authenticated",
                "tags": [
                    "Cart"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Item not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "You need to log in your account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Item deleted"
                    }
                }
            }
        },
        "/api/cart/checkout": {
            "post": {
                "summary": "Buy the items from the cart",
                "description": "Need user authenticated",
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "You need to log in your account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Cart empty",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Cart is empty"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Cart purchased",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "info": {
                                            "type": "string",
                                            "example": "Cart purchased successfully"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/cart/clean": {
            "delete": {
                "summary": "Clean the cart",
                "description": "Need user authenticated",
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "You need to log in your account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Cart cleaned"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetProducts": {
                "type": "object",
                "properties": {
                    "products": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "TV"
                                },
                                "price": {
                                    "type": "number",
                                    "example": 2500.0
                                }
                            }
                        }
                    }
                }
            },
            "GetProduct": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                    },
                    "name": {
                        "type": "string",
                        "example": "TV"
                    },
                    "price": {
                        "type": "number",
                        "example": 2500.0
                    },
                    "description": {
                        "type": "string",
                        "example": "a 50¨ TV with 4k quality"
                    }
                }
            },
            "PostProduct": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "Notebook"
                    },
                    "price": {
                        "type": "number",
                        "example": 3500.0
                    },
                    "description": {
                        "type": "string",
                        "example": "An Notebook with ryzen 5 5500U and 16GB RAM."
                    }
                },
                "required": [
                    "name",
                    "price"
                ]
            },
            "PutProduct": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "Smartphone"
                    },
                    "price": {
                        "type": "number",
                        "example": 1800.0
                    },
                    "description": {
                        "type": "string",
                        "example": "An Smartphone with Android 13"
                    }
                }
            },
            "AuthUser": {
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string",
                        "example": "user_name"
                    },
                    "password": {
                        "type": "string",
                        "example": "senha@123"
                    }
                },
                "required": [
                    "username",
                    "password"
                ]
            },
            "GetUser": {
                "type": "object",
                "properties": {
                    "user": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "example": "bc781b4a-72f3-4214-b28c-7872fcc6c70f"
                            },
                            "username": {
                                "type": "string",
                                "example": "user_name"
                            },
                            "created_at": {
                                "type": "string",
                                "example": "Mon, 22 Jan 2024 12:23:17 GMT"
                            },
                            "items_purchased": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "TV"
                                        },
                                        "price": {
                                            "type": "number",
                                            "example": 2500
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "GetCartItems": {
                "type": "object",
                "properties": {
                    "cart_items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "example": "53b40f81-1d81-41dd-bb66-e7f5436765ba"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "TV"
                                },
                                "price": {
                                    "type": "number",
                                    "example": 2500
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}